@{
    ViewData["Title"] = "El Contrato Perfecto - Escape Room";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="fullscreen-background">
    <div class="overlay">
        <div class="intro-content">
            <h1>El Contrato Perfecto</h1>
            <p>Te despertás encerrado/a el día de tu entrevista soñada... ¿Lograrás escapar a tiempo?</p>
            <a class="btn-start" asp-controller="Juego" asp-action="Comenzar">Comenzar</a>
        </div>
    </div>
</div>

